<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Anasayfa</title>
</head>
<body>
    <nav>
        <div class="navbar-title">
            <h2>MP3 CONVERTER</h2>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="form">
                <span class="video-title"><%= videoTitle %></span>
                <a href="" download="<%= videoLink %>"><button class="button">Download</button></a>
                <a href="/"><button class="button">Anasayfaya dön</button></a>
            </div>
        </div>
    </div>
</body>
</html>